<!doctype html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
<section class="header">
{{>navbar}} 
</section>

 <!-- Hero section -->
 <section class="hero">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://webdeasy.de/wp-content/uploads/2020/06/404-pages.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Not Found</h1>

      </div>
    </div>
  </div>
 </section>

{{>footer}}

  </body> 
</html>
